DATABASE_URL=


RPC_URL_MAINET=
RPC_URL_BASE=
RPC_URL_BNB=
RPC_URL_ARB=
RPC_URL_LINEA=


ADDRESS=


BINANCE_API_KEY = 
BINANCE_SECRET = 

BYBIT_API_KEYKey = 
BYBIT_SECRET = 

OKX_API_KEY = 
OKX_SECRET = 