
# NODE PROVIDER
INFURA_URL=
ALCHEMY_URL=

# EXCHANGES
BINANCE_API_KEY=
BYBIT_API_KEY=
BYBIT_SECRET=
OKX_API_KEY=
OKX_SECRET=

# DB (если планируешь)
DATABASE_URL=postgresql://user:pass@localhost:5432/crypto

RPC_URL_MAINET=
RPC_URL_BASE=
RPC_URL_BNB=
RPC_URL_ARB=
RPC_URL_LINEA=